<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HHL || Homepage</title>
    <link rel="stylesheet" href="../src/css/main.css"/>
    <link rel="stylesheet" href="../src/css/glider.min.css"/>
    <link rel="stylesheet" href="../src/icons/css/ionicons.min.css"/>
  </head>
  <body>
    <div class="general-container">
      <header id="header">
        <div class="lit-nav">
          <div class="lit-nav--container">
            <p>Welcome to HHL we are the Best...</p>
            <div class="lit-link"><a href="">Login</a><a href="">Sign up</a></div>
          </div>
        </div>
        <div class="logo-con">
          <div class="logo-con--container">
            <div class="logo"><img src=" " alt="" srcset=""/></div>
            <div class="con">
              <p class="phone"><i class="ion-ios-telephone"></i><span>Call Us<br/>08024642111.</span></p>
              <p class="open"><i class="ion-android-time"></i><span>We Are Open<br/>Everyday from 10am.</span></p>
              <p class="email"><i class="ion-ios-email"></i><span>Email Us<br/>info@domainname.com</span></p>
            </div>
          </div>
        </div>
        <div class="header">
          <div class="header--container">
            <nav class="nav"> 
              <div class="nav--container">
                <ul class="nav--links">
                  <li class="nav--list"><a class="nav--link" href=""><i class="ion-ios-home"></i></a></li>
                  <li class="nav--list"><a class="nav--link" href="">About</a></li>
                  <li class="nav--list"><a class="nav--link" href="">Services</a></li>
                  <li class="nav--list"><a class="nav--link" href="">Project</a></li>
                  <li class="nav--list"><a class="nav--link" href="">Blog</a></li>
                  <li class="nav--list"><a class="nav--link" href="">FAQ</a></li>
                  <li class="nav--list"><a class="nav--link" href="">Some</a></li>
                  <li class="nav--list"><a class="nav--link active-nav" href="">Newsletter </a></li>
                  <li class="nav--list"><a class="nav--link" href="">Contact</a></li>
                </ul><i class="ion-android-menu menu"></i>
              </div>
            </nav><img class="header--img active" src="../src/imgs/bg-01.jpg" alt=""/><img class="header--img" src="../src/imgs/bg-02.jpg" alt=""/><img class="header--img" src="../src/imgs/bg-04.jpg" alt=""/>
            <div class="header--display">
              <div class="intro">
                <h1>Intro to Website</h1>
                <div class="description">
                  <div class="margin"> 
                    <div class="plane"> 
                      <p>A little caption about this website and its functions that is what we bring you. A Little Caption Of the Website And Some Other Things to Check Out For In The Next.</p>
                      <div class="button"><a href="">Buy</a><a href="">Explore</a></div>
                    </div>
                    <div class="header--controls">
                      <div class="previous"><i class="ion-chevron-left"></i></div>
                      <div class="next"><i class="ion-chevron-right"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header--dots"><span class="active" data-id="0"></span><span data-id="1"></span><span data-id="2"></span></div>
          </div>
        </div>
      </header>
      <main id="main">
        <section class="estates">
          <div class="container">
            <h1 class="estates--title">Opp Estates</h1>
            <hr/>
            <p class="sub">Here is where our estates are located</p>
            <div class="estates--location">
              <div class="previous left"><i class="ion-chevron-left"></i></div>
              <div class="links glider"><a href=""><i class="ion-ios-location"> </i>Abuja</a><a href=""><i class="ion-ios-location"> </i>Lagos</a><a href=""><i class="ion-ios-location"> </i>Sokoto</a><a href=""><i class="ion-ios-location"> </i>Jos</a><a href=""><i class="ion-ios-location"> </i>Delta</a><a href=""><i class="ion-ios-location"> </i>Port Harcort</a><a href=""><i class="ion-ios-location"> </i>Ekiti</a><a href=""><i class="ion-ios-location"> </i>Osun</a></div>
              <div class="next right"><i class="ion-chevron-right"></i></div>
            </div>
          </div>
        </section>
        <section class="houses">
          <div class="houses--container">
            <h1 class="houses--title">PROPERTIES <span>FOR SALE</span></h1>
            <hr class="line"/>
            <p class="sub">Here is where our estates are located</p>
            <div class="houses--flex"> 
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
            <div class="more"><a href="">View All<i class="ion-android-arrow-forward"></i></a></div>
          </div>
        </section><br/><br/><br/><br/><br/>
        <section class="houses">
          <div class="houses--container">
            <h1 class="houses--title">PROPERTIES <span>FOR RENT</span></h1>
            <hr class="line"/>
            <p class="sub">Here is where our estates are located</p>
            <div class="houses--flex"> 
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card--container">
                          <div class="card--top"><img class="card--img" src="../src/imgs/hux_02.jpeg" alt=""/>
                            <p class="tag">For Sale</p>
                            <p class="hover"> <span>PROPERTY VIEW <br/>REAL ESTATE</span></p>
                          </div>
                          <div class="card--bottom">
                            <h2 class="card--title"><a href="">Real House Luxury Villa</a></h2>
                            <address><a href=""><i class="ion-ios-location"> </i>Aminu St, 77 - Central Park, Abuja</a></address>
                            <div class="card--details">
                              <p><img src="../src/icons/bed.svg" alt=""/>6 Bedrooms</p>
                              <p><img src="../src/icons/bathroom.svg" alt=""/>6 Bathrooms</p>
                              <p><img src="../src/icons/select.svg" alt=""/>720 sq ft</p>
                              <p><img src="../src/icons/garage.svg" alt=""/>2 Garages</p>
                            </div>
                            <div class="card--price"><span>₦2,000,000</span></div>
                            <hr class="divide"/>
                            <div class="card--admin">
                              <p><i class="ion-android-person"></i>By Admin</p>
                              <p><i class="ion-ios-calendar-outline"></i>2 months ago</p>
                            </div>
                          </div>
                        </div>
                      </div>
            </div>
            <div class="more"><a href="">View All<i class="ion-android-arrow-forward"></i></a></div>
          </div>
        </section>
      </main>
      <footer id="footer"> 
        <div class="footer"> 
          <div class="footer--container">
            <div class="footer--flex">  
              <div class="holiday">
                <h3>Harmony Holiday</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, autem? Quisquam, nisi molestias?</p><a href="">Read More <i class="ion-arrow-right-c"></i></a>
              </div>
              <div class="links">
                <h3>Contact Links</h3><br/><a href="">Help Center</a><br/><a href="">Contact Us</a><br/><a href="">Live Chat</a><br/><a href="">Team Audictors</a>
              </div>
              <div class="links">
                <h3>Reforming</h3><br/><a href="">Reform Holiday Blog</a><br/><a href="">FAQ when buying</a><br/><a href="">Useful Buying Tips</a><br/><a href="">Property Managment</a>
              </div>
              <div class="newsletter">
                <h3>Newsletter</h3>
                <p>Sign up for periodic emails and client activities.</p>
                <input type="text" placeholder="Your email address"/>
                <button>Send</button>
              </div>
              <div class="links">
                <h3>About Us</h3><br/><a href="">Photo Gallery</a><br/><a href="">Videos</a><br/><a href="">Privacy Policy</a>
              </div>
              <div class="links">
                <h3>Quick Links</h3><br/><a href="">Real Estate</a><br/><a href="">Super Mansion</a><br/><a href="">Property Managment</a><br/><a href="">Team Audictors</a>
              </div>
              <div class="links">
                <h3>Latest News</h3><br/><a href="">How to cost a build at medival cost</a><br/><a href="">Steps for good architectural design    </a>
              </div>
              <div class="links">
                <h3>Have any Quantities</h3><br/><a href="">Reform Holiday Blog</a><br/><a href="">FAQ when buying</a><br/><a href="">Useful Buying Tips</a><br/><a href="">Property Managment</a>
              </div>
            </div>
          </div>
          <div class="chat"><a href=""><i class="ion-chatboxes"></i></a></div>
        </div>
      </footer>
    </div>
    <script src="../src/js/glider.min.js"></script>
    <script src="../src/js/main.js"></script>
  </body>
</html>