<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title HHL || Homepage
        link(rel="stylesheet", href="../src/css/main.css")
        link(rel="stylesheet", href="../src/css/glider.min.css")
        link(rel="stylesheet", href="../src/icons/css/ionicons.min.css")
    body
        .general-container
            header#header
                .lit-nav
                    .lit-nav--container
                        p Welcome to HHL and we are the Best...
                        .lit-link
                            a(href="") Login
                            a(href="") Sign up
                
                .logo-con
                    .logo-con--container
                        .logo: img(src=" ", alt="", srcset="")

                        .con
                            p.phone
                                i.ion-ios-telephone
                                span Call Us
                                    br 
                                    | 08024642111.
                            p.open
                                i.ion-android-time
                                span We Are Open
                                    br
                                    | Everyday from 10am.
                            p.email
                                i.ion-ios-email
                                span Email Us
                                    br
                                    | info@domainname.com
                


                .header
                    .header--container
                        nav.nav 
                            .nav--container
                                ul.nav--links
                                    li.nav--list: a(href="" class="nav--link"): i.ion-ios-home
                                    li.nav--list: a(href="" class="nav--link") About
                                    li.nav--list: a(href="" class="nav--link") Services
                                    li.nav--list: a(href="" class="nav--link") Project
                                    li.nav--list: a(href="" class="nav--link") Blog
                                    li.nav--list: a(href="" class="nav--link") FAQ
                                    li.nav--list: a(href="" class="nav--link") Some
                                    li.nav--list: a(href="" class="nav--link active-nav") Newsletter 
                                    li.nav--list: a(href="" class="nav--link") Contact
                                i.ion-android-menu.menu

                        img.header--img(src="../src/imgs/bg-01.jpg", alt="" class="active")
                        img.header--img(src="../src/imgs/bg-02.jpg", alt="" class="")
                        img.header--img(src="../src/imgs/bg-04.jpg", alt="" class="")
                        .header--display
                            .intro
                                h1 Intro to Website

                                .description
                                    .margin  
                                        .plane 
                                            p A little caption about this website and its functions that is what we bring you. A Little Caption Of the Website And Some Other Things to Check Out For In The Next.
                                            .button
                                                a(href="") Buy
                                                a(href="") Explore
                                                
                                        .header--controls
                                            .previous: i.ion-chevron-left
                                            .next: i.ion-chevron-right
                        
                        .header--dots
                            span(data-id="0" class="active")
                            span(data-id="1")
                            span(data-id="2")


            main#main
                section.estates
                    .container
                        h1.estates--title Opp Estates
                        hr
                        p.sub Here is where our estates are located

                        .estates--location
                            .previous.left: i.ion-chevron-left
                            .links.glider
                                a(href="")
                                    i.ion-ios-location 
                                    | Abuja
                                a(href="")
                                    i.ion-ios-location 
                                    | Lagos
                                a(href="")
                                    i.ion-ios-location 
                                    | Sokoto
                                a(href="")
                                    i.ion-ios-location 
                                    | Jos
                                a(href="")
                                    i.ion-ios-location 
                                    | Delta
                                a(href="")
                                    i.ion-ios-location 
                                    | Port Harcort
                                a(href="")
                                    i.ion-ios-location 
                                    | Ekiti
                                a(href="")
                                    i.ion-ios-location 
                                    | Osun
                            .next.right: i.ion-chevron-right

                            //- .more
                            //-     span
                            //-         | More 
                            //-         i.ion-chevron-down
                            
                //- section.about 
                    .container
                        .about--flex
                            .about--us
                                p Living a life of Comfort...
                                h1.name Paradise Estate
                                address Aminu, Maitarru, Abuja
                        
                                p.title About Us
                                p.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ad similique autem soluta, quasi ut assumenda modi molestias iste excepturi consequuntur consectetur dolor veniam doloremque! Aspernatur necessitatibus non impedit cupiditate.

                            .about--houses
                                .house
                                    p <i class="ion-ios-infinite"></i> Total Houses: 
                                        span 5000
                                    hr
                                    p <i class="ion-ios-infinite"></i> Total Avaliable: 
                                        span 3000
                            
                            .about--map
                                //- img(src="../src/imgs/logo/logo.svg", alt="")
                                i.ion-android-globe
                                a(href="") View Estate In Map <i class="ion-android-pin"></i>
                

                //- section.sliders
                    .sliders--container
                        .controllers
                            i.ion-ios-arrow-thin-left.left
                            i.ion-ios-arrow-thin-right.right
                        .glider
                            .card
                                img(src="../src/imgs/hux_06.jpg", alt="")
                                .pad
                                    h3 Card Title
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, perferendis.
                                    a(href="") View More 
                                        i.ion-arrow-right-c
                            .card
                                img(src="../src/imgs/hux_16.jpg", alt="")
                                .pad
                                    h3 Card Title
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, perferendis.
                                    a(href="") View More 
                                        i.ion-arrow-right-c
                            .card
                                img(src="../src/imgs/hux_15.jpg", alt="")
                                .pad
                                    h3 Card Title
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, perferendis.
                                    a(href="") View More 
                                        i.ion-arrow-right-c
                            .card
                                img(src="../src/imgs/hux_17.jpg", alt="")
                                .pad
                                    h3 Card Title
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, perferendis.
                                    a(href="") View More 
                                        i.ion-arrow-right-c
                            .card
                                img(src="../src/imgs/hux_18.jpg", alt="")
                                .pad
                                    h3 Card Title
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, perferendis.
                                    a(href="") View More 
                                        i.ion-arrow-right-c
                            .card
                                img(src="../src/imgs/hux_19.jpg", alt="")
                                .pad
                                    h3 Card Title
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, perferendis.
                                    a(href="") View More 
                                        i.ion-arrow-right-c
                            .card
                                img(src="../src/imgs/hux_02.jpeg", alt="")
                                .pad
                                    h3 Card Title
                                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque, perferendis.
                                    a(href="") View More 
                                        i.ion-arrow-right-c


                    
                mixin card
                    .card
                        .card--container
                            .card--top
                                img(src="../src/imgs/hux_02.jpeg" alt="" class="card--img")
                                p.tag For Sale
                                p.hover 
                                    span PROPERTY VIEW 
                                        br 
                                        |REAL ESTATE

                            .card--bottom
                                h2.card--title: a(href="") Real House Luxury Villa
                                address: a(href="")
                                    i.ion-ios-location 
                                    | Aminu St, 77 - Central Park, Abuja

                                .card--details
                                    p
                                        img(src="../src/icons/bed.svg" alt="")     
                                        | 6 Bedrooms
                                    p
                                        img(src="../src/icons/bathroom.svg" alt="")     
                                        | 6 Bathrooms
                                    p
                                        img(src="../src/icons/select.svg" alt="")      
                                        | 720 sq ft
                                    p
                                        img(src="../src/icons/garage.svg" alt="")     
                                        | 2 Garages
                                

                                .card--price
                                    span ₦2,000,000
                                
                                hr.divide

                                .card--admin
                                    p
                                        i.ion-android-person
                                        | By Admin
                                    p
                                        i.ion-ios-calendar-outline
                                        | 2 months ago

                section.houses
                    .houses--container
                        h1.houses--title PROPERTIES 
                            span FOR SALE
                        hr.line
                        p.sub Here is where our estates are located



                        .houses--flex 
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card

                        .more: a(href="") View All
                            i.ion-android-arrow-forward

                br/
                br/
                br/
                br/
                br/

                section.houses
                    .houses--container
                        h1.houses--title PROPERTIES 
                            span FOR RENT
                        hr.line
                        p.sub Here is where our estates are located



                        .houses--flex 
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card
                            +card

                        .more: a(href="") View All
                            i.ion-android-arrow-forward
                            


                            


            footer#footer 
                .footer 
                    .footer--container
                        .footer--flex   
                            .holiday
                                h3 Harmony Holiday
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, autem? Quisquam, nisi molestias?
                                a(href="") Read More <i class="ion-arrow-right-c"></i>
                            .links
                                h3 Contact Links
                                br
                                a(href="") Help Center
                                br
                                a(href="") Contact Us
                                br
                                a(href="") Live Chat
                                br
                                a(href="") Team Audictors
                            .links
                                h3 Reforming
                                br
                                a(href="") Reform Holiday Blog
                                br
                                a(href="") FAQ when buying
                                br
                                a(href="") Useful Buying Tips
                                br
                                a(href="") Property Managment
                            .newsletter
                                h3 Newsletter
                                p Sign up for periodic emails and client activities.
                                input(type="text" placeholder="Your email address")
                                button Send
                            .links
                                h3 About Us
                                br
                                a(href="") Photo Gallery
                                br
                                a(href="") Videos
                                br
                                a(href="") Privacy Policy
                            .links
                                h3 Quick Links
                                br
                                a(href="") Real Estate
                                br
                                a(href="") Super Mansion
                                br
                                a(href="") Property Managment
                                br
                                a(href="") Team Audictors
                            .links
                                h3 Latest News
                                br
                                a(href="") How to cost a build at medival cost
                                br
                                a(href="") Steps for good architectural design    
                            .links
                                h3 Have any Quantities
                                br
                                a(href="") Reform Holiday Blog
                                br
                                a(href="") FAQ when buying
                                br
                                a(href="") Useful Buying Tips
                                br
                                a(href="") Property Managment

                    .chat
                        a(href=""): i.ion-chatboxes

        script(src="../src/js/glider.min.js")
        script(src="../src/js/main.js")